body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

h1 {
    font-size: 50px;
}

.navText {
    font-family: 'Roboto', sans-serif;
    font-size: 17.5px;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container-bg {
    background: rgba(0, 0, 0, .15) url("https://munchbunchblog.files.wordpress.com/2017/09/o-san-francisco-facebook.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.container-bg2 {
    background: rgba(0, 0, 0, .35) url("https://images.ecosia.org/7AQ6NJhnSGUiWNR5k6bND2l13tE=/0x390/smart/https%3A%2F%2Fimages.wallpaperscraft.com%2Fimage%2Fsan_francisco_night_city_bridge_120756_2560x1080.jpg");
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#icontainer {
    width: 1200px ;
}